@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  